body {
  background-color: #e1ecf1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas {
  background-color: white;
  margin: auto;
  display: block;
  width: 500px;
  height: 500px;
  box-shadow: 5px 5px 5px lightgray;
}

.controls {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls > * {
  margin: 20px;
}

.canSize {
  margin-bottom: 10px;
}

.canSize input {
  width: 100px;
  border-radius: 3px;
}

button {
  padding: 3px;
  min-width: 50px;
}

button:active {
  transform: scale(0.95);
}

#colors {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgray;
}

#colors .color {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 5px;
  box-shadow: 5px 5px 5px lightgray;
}
